<mat-toolbar color="primary">
    <span>
      <mat-form-field>
        <mat-label>Version</mat-label>
        <mat-select [formControl]="versionControl">
          <mat-option [value]="'kjv'">KJV</mat-option>
          <!-- <mat-option [value]="'esv'">ESV</mat-option> -->
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Book</mat-label>
        <mat-select [formControl]="bookControl">
          <mat-option *ngFor="let book of books" [value]="book">
            {{ book }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Chapter</mat-label>
        <mat-select [formControl]="chapterControl">
          <mat-option *ngFor="let chapter of chapters" [value]="chapter.chapter">
            {{ chapter.chapter }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
</mat-toolbar>

<ng-container *ngIf="chapterLoaded">
  <div class="main">
    <h1>{{ bookControl.value }} Chapter {{ chapterData.chapter }}</h1>
    <div class="verses">
      <p *ngFor="let verse of chapterData.verses">
        <b>{{ chapterData.chapter }}:{{ verse.verse }}</b> {{ verse.text }}
      </p>
    </div>
  </div>
</ng-container>

