<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Electronic Bible</span>
    <span class="fill-remaining-space"></span>
    <span>Current Bible Selected: KJV</span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>
      <mat-form-field>
        <mat-label>Book</mat-label>
        <mat-select>
          <mat-option *ngFor="let book of books">
            {{ book }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main">
  Main
</div>
